.appBar, .appBarAuth{
    height: 120px; 
    flex-direction: row;
    align-items: center; 
    position: static;  
}

.appBarAuth{
    background-color: none;
}

.bgAuth{
    background-color: #EAEBED;
    background-image: url('/vector.png');
    background-repeat: no-repeat;
    background-size: 110%; 
    background-position: 50%;
    min-height: 100vh;
    padding-bottom: 80px;
}

.toolbar{
    justify-content: space-between
}

.logo:hover{
    cursor: pointer;
}

.buttonLogin{
    width: 140px;
    margin-left: 10px;
    text-transform: lowercase;
    font-weight: 900;
}

.boxLogin{
    display: flex;
}

.boxLogin .user{
    margin-top:7px;
    margin-left: 5px;
    color: '#EAEBED';
    font-Weight: '900'
}

.boxLogin .cancelIcon{
    position: absolute;
    top: -10px;
    right: 0px;
}

.drawerUser{
    height: 180px;
    flex-direction: column;
    padding: 20px;
}

.drawerUser .cancelIcon{
    position: absolute;
    right: 35px;   
}

.drawerUserData{
    position: absolute;
    top: 80px;  
}
 .drawerUserData .user{
    color: #573469;
    font-size: larger;
    font-weight: bold;
    margin-left: -3px;
}

.drawerUserData .personIcon{
    font-size: 50px;
    margin-left: -10px;
}

.buttonLoginDrawer, .buttonRegDrawer{
    position: absolute;
    width: 206px;
    text-transform: lowercase;
    font-weight: 900;
    bottom: 40px;
    left: 22px;
}

.buttonLoginDrawer{
        bottom: 85px;
   }

   .buttonRegDrawer{
   
    bottom: 40px;
    
}


.buttonNav{
    color: var(--secondary-color);
}

.buttonNav:hover, .buttonLoginDrawer:hover{
    color: #64C9A7 ;
}

@media screen and (min-width: 900px) {
    .appBar{
        padding: 0 20px;
    }  

    .bgAuth{        
        background-size: 60%; 
    }
}

@media screen and (min-width: 965px) {
    .boxLogin{
        margin-left: 70px;
    }
   
}