.paper {
  background-image: url("../../../assets/img/experiencia.jpg");
  height: 350px;
  background-size: 150%;
  background-position: center;
  background-repeat: "no-repeat";
}

.container {
  padding-top: 20px;
}

.title {
  font-size: 50px;
  font-weight: 800;
  color: white;
}

.description {
  font-size: 15px;
  font-weight: 300;
  color: #eaebed;
  max-width: 182px;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) {

  .description {
    font-size: 20px;
    font-weight: 300;
    max-width: 482px;
  }
}


/* Desktop */
@media (min-width: 1020px) {
    .title {
        font-size: 60px;
      }
      
      .description {
        font-size: 20px;
    
      }

    .container {
        padding-top: 50px;
      }
.paper {
  background-image: url("../../../assets/img/experiencia.jpg");
  height: 400px;
  background-size: 100%;
  background-position: 65% 35%;
  background-repeat: "no-repeat";
}
}
