.input{
    width: 100%;
}

.paper {
    width: 95%;
    max-width: 850px;
    padding: 40px 20px 80px;
    margin: 20px auto 80px;
  }

  .subtitle{
    text-transform: uppercase;
    font-weight: 700;
    color:#573469;
    margin-bottom: 15px;
  }

  .personalData{
    width: 90%;
    margin-inline: auto;
    margin-bottom: 50px;
  }

  .buttonSubmit {
    width: 206px;
    text-transform: lowercase;
    font-weight: 700;
  }

  .dataPet{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 15px;
  }

  .textPet{
    margin-left: 20px;
    margin-top: 5px;
    font-size: 14px;
  }

  .addPets {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    color: #573469;
    font-size: 12px;
  }

  .addPets:hover {
    color: #64C9A7;
    cursor: pointer;
  }

  @media screen and (min-width: 600px) {
    .input{
      width: 47%;
      margin-right: 3%;
  }

  .dataPet{
    flex-direction: row;
  }

  .textPet{
    margin-top: 20px;
  }
}