.form{
    width: 100%;
    color: blue;
}

.paper {
    width: 95%;
    max-width: 850px;
    padding: 40px 20px 80px;
    margin: 20px auto 80px;
  }

  .subtitle{
    text-transform: uppercase;
    font-weight: 700;
    color:#573469;
    margin-bottom: 15px;
  }

  .personalData{
    margin-bottom: 50px;
  }