.paper {
  width: 95%;
  max-width: 850px;
  padding: 40px 20px 80px;
  margin: 20px auto 80px;
}

.addPets {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.radioGroup {
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 20px;
}

.radioItem {
  margin: auto;
  width: 48%;
}

.petSelect {
  color: #eaebed;
}

.btnStepper {
  width: 204px;
  text-transform: lowercase;
  font-weight: 900;
}

.formProfessional {
  width: 100%;
}

.selectProfessional {
  width: 90%;
  margin: 20px auto;
}

.selectProfessional label {
  left: 10%;
  top: 20px;
}

/* Tablet and Smaller Desktop */
@media (min-width: 600px) {
  .paper {
    padding: 40px 80px 80px;
    margin: 20px auto 80px;
  }
  .radioItem {
    width: 32%;
  }
  .selectProfessional {
    width: 80%;
  }
}
