.wrapperDet{
    display: flex;
    font-size: 14px;
    color:#573469;
    padding: 8px;
    margin: 25px auto;
    border-bottom: solid 4px #573469;
    height: 100%;
    
}

.titleDet{
    font-size: 25px;
    margin: 10px 0;
    text-align: left;
}

.desc{
    margin: 10px ;
    text-align: justify;
}

.form{
    width: 80%;
    margin: 10px auto;
    display: flex;
}

.imgDet{
    object-fit: cover;
    height: auto;
    margin: auto;
}

@media screen and (min-width: 500px) {


    .desc{
        width: 55%;
        float: right;
        font-size: 12px;
    }
    
    .form{
        float: right;
        width: 55%;
    }
    
    .imgDet{
        float: left;
        width: 40%;
        margin-top: 65px;
    }

    .titleDet{
        width: 55%;
        float: right;
    }
}

@media screen and (min-width: 780px) {

    .desc{
        font-size: 16px;
    }
}

@media screen and (min-width: 900px) {

    .desc{
        font-size: 20px;
    }
}